{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="/application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/static/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/static/dist/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/static/dist/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/static/bower_components/js/jquery-1.11.1.min.js"></script>
<script src="/static/bower_components/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/bower_components/js/move-top.js"></script>
<script type="text/javascript" src="/static/bower_components/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--animate-->
<link href="/static/dist/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/bower_components/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
	<title>Deskripsi</title>
</head>
<body>
<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>More than 10 new destinations for your trip</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a href="/login">Login</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a href="index.html"><img src="/static/dist/images/logo.jpg" alt="" /></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/data"  class="active">Destination</a></li>
								<li><a href="/booking.html">Reservasi Tiket</a></li>
								<li><a href="/pesan_reservasi">Pesan Tour</a></li>
								<li><a href="/gallery1.html">Gallery</a></li>
								<li><a href="/about.html">About</a></li>
								<li><a href="/contact.html">Contact</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- blog -->
		<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="blog-heading">
					<h2 class="wow fadeInDown animated" data-wow-delay=".5s">Destinasi</h2>
					
				</div>
				<div class="blog-top-grids">
					<div class="col-md-8 blog-top-left-grid">
						<div class="left-blog">
							<div class="blog-left">
								<div class="blog-left-left wow fadeInUp animated" data-wow-delay=".5s">
									<a href="single.html"><img src="/static/dist/images/ina.jpg" alt="" /></a>
								</div>
								<div class="blog-left-right wow fadeInUp animated" data-wow-delay=".5s">
									
										<h3 style="bold"> <p>Itinerary:</p></h3>
										<!--<h4 style="bold"><p>{{ reservasi.Deskripsi }}</p></h4>-->
										<!--<textarea id="Deskripsi" disabled="True" cols="80" rows="50" >{{reservasi.Deskripsi}}</textarea>-->
										<textarea name="formValue" cols="85" rows="30" disabled="True">{{reservasi.Deskripsi}}</textarea>
										<script type="text/javascript">
										    autosize($('formValue'));
										  </script>
									<!--<p> <h4 style="bold"> Program Tour :</h4>
										<h4 style="bold">D1: Tiba di Bali – Check In Hotel</h4>
										Tiba di Bandara International Ngurah Rai  disambut oleh guide kami kemudian diantarkan untuk  check in hotel dan Free Program </br>
										<h4 style="bold">D2: Museum Foto 3 Dimensi - Bali Safari & Marine Park ( BLD )</h4>
										Makan pagi di hotel kemudian tour mengunjungi Musieum foto 3 Dimensi siapkan kamera anda .
										Tour kemudian berlanjut dengan menikmati makan siang  mengunjungi Bali Safari & Marine Park yaitu kebun binatang terbesar di Bali disini peserta akan melihat berbagai jenis satwa dari seluruh dunia ,
										melihat berbagai pertunjukan diantaranya elephant show , animal show dan Safari Journey juga merupakan salah satu kegiatan yang akan kita lakukan disini .
										shopping time oleh – oleh bali dan Dinner di Lokal restaurant dan kembali ke hotel.</br>
										<h4 style="bold">D3: Bali Cruise Tour by Quicksilver Cruise ( BLD )</h4>
										Makan pagi di hotel , Berangkat menuju Pelabuhan benoa menyebrang menuju Pulau Nusa Penida .
										Berangkat dari Pelabuhan Benoa pada pukul 09.00 menggunakan Kapal Quicksilver ,menempuh waktu +/- 45 menit untuk sampai di Nusa Penida.
										Dipantai peserta dapat bersantai sembari menikmati fasilitas yang sudah termasuk di dalamnya seperti Unlimited Banana Boat , Snorkeling , Mini Submarine , wisata desa dan buffet makan siang .
										Sore hari peserta akan kembali menuju Bali dilanjutkan dengan shopping time di oleh – oleh Bali , makan malam di Jimbaran dengan menu seafood BBQ dan kembali ke hotel .</br>
										<h4 style="bold">D4: Transfer Out – Bandara (B)</h4>
										Makan pagi di hotel. Acara bebas sampai pk 12.00 (waktu check out hotel). Transfer out ke Airport</br>
										</p>-->
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="col-md-4 blog-top-right-grid">
						<div class="Categories wow fadeInUp animated" data-wow-delay=".5s">
							<h2>Paket Tour Domestik</h2>
							<ul>
								<h3><li><a href="/data">Pilih Tour Baru</a></li></h3>
								
								<!--<li><a href="bandung.html">Tour Bandung </a></li>
								<li><a href="lombok.html">Tour Lombok</a></li>
								<li><a href="medan.html">Tour Medan</a></li>
								<li><a href="solo.html">Tour Solo</a></li>
								<li><a href="yogyakarta.html">Tour Yogyakarta</a></li>-->
							</ul>
						</div>
						<div class="comments">
							<h3 class="wow fadeInUp animated" data-wow-delay=".5s">Pesona Indonesia</h3>
							<div class="comments-text wow fadeInUp animated" data-wow-delay=".5s">
								<div class="col-md-12 comments-left">
									<img src="/static/dist/images/pantaibali.jpg" alt="" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="comments-text wow fadeInUp animated" data-wow-delay=".5s">
								<div class="col-md-12 comments-left">
									<img src="/static/dist/images/lombok.jpg" alt="" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="comments-text wow fadeInUp animated" data-wow-delay=".5s">
								<div class="col-md-12 comments-left">
									<img src="/static/dist/images/bdg.jpg" alt="" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
	<!-- //blog -->

<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Navigation</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/booking.html">Reservasi Tiket</a></li>
						<li><a href="/pesan_reservasi">Pesan Tour</a></li>
						<li><a href="gallery1.html">Gallery</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Hotels</h4>
					<p>Hotel Bali, Hotel Bandung, Hotel Lombok, Hotel Medan,</br> Hotel Solo dan Hotel Yogyakarta</p>
				</div>
				<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Penerbangan</h4>
					<div class="news-grids">
						<div class="news-grid">
							<h6>04/05/2017 : <p>Bandara International Ngurah Rai (Bali)</p></h6>
							<h6>10/02/2017 : <p>Bandara Husein Sastranegara (Bandung)</p></h6>
							<h6>22/06/2017 : <p>Bandara International (Lombok)</p></h6>
							<h6>18/01/2017 : <p>Bandara International Kualanamu (Medan)</p></h6>
							<h6>30/04/2017 : <p>Bandara International Adisumarmo (Solo)</p></h6>
							<h6>06/07/2017 : <p>Bandara International Adisutjipto (Yogyakarta)</p></h6>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>© © 2017 Batch Tour & Travel</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>
</html>